<div class="d-flex justify-content-start  align-items-start  ">
  <div class="card" style="width: 18rem; margin-top: 2.5rem;">

    <img src="{{livre.cover}}" style="width: 18rem; height: 24rem; object-fit: cover;" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title" style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 200px">{{livre.name}}</h5>
        <!--        <p class="card-text">{{livre.original_language}} DH</p>-->
      </div>
      <!--      <p style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 230px">{{livre.overview}}</p>-->
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <i class="bi bi-calendar  me-1"></i>
          <h6>{{livre.year}}</h6>
        </div>
      </div>
      <h6>Authors : {{livre.authors[0]}}</h6>
    </div>
  </div>
</div>



